*{
	padding: 0;
	margin: 0;
}

.sideBar{
	display: none;
}

#erstinformationTitle{
	font-weight: 400;
	font-size: 2.5rem;
	color: rgb(200, 200, 200);
	margin: 0.5em;
}

#erstinformationText{
	font-size: 1.5rem;
	margin-left: 1.5em;
	max-width: 70%;
}